[Unit]
Description=HPC IDM Transaction Service
After=network.target

[Service]
Environment=GIN_MODE=release
Type=simple
Restart=always
User=hpcidmtxn
ExecStart=/usr/local/bin/hpcidmtxn_server

[Install]
WantedBy=multi-user.target
